{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Your Testimonial{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'testimonials/css/testimonials.css' %}">{% endblock %}

{% block content %}
<main class="container my-3">
  <div class="row">
    <div class="col-lg-6 mt-3 offset-lg-3 shadow-lg p-5">
      <div class="d-flex align-items-center mb-3">
        <h1 class="text-center h3 mb-0 mx-auto d-flex align-items-center title-wrapper">
          Provide Your Testimonial
        </h1>
      </div>
      {% if form.errors %}
        {% for field, errors in form.errors.items %}
          {% for error in errors %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ error }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
        {% endfor %}
      {% endif %}
      <form method="POST" id="testimonial-form" novalidate>
        {% csrf_token %}
        <div class="mb-3">
          {{ form.name|as_crispy_field  }}
        </div>
        <div class="mb-3">
            {{ form.testimonial|as_crispy_field  }}
        </div>
        <div class="mb-3 ratings">
          <p class="m-0">Please rate your experience with us *</p>
          {% for choice in form.rating %}
            {{ choice.tag }}
            <label class="rating-color rating-label" for="{{ choice.id_for_label }}">
              <i class="fa fa-star"></i>
            </label>
          {% endfor %}
        </div>
        <div class="mb-3">
            {{ form.publish_testimonial|as_crispy_field  }}
        </div>
        <button type="submit" class="btn btn-lg btn-custom w-100">Submit</button>
    </form>
    </div>
  </div>
</main>
{% endblock %}

{% block scripts %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const ratingLabels = document.querySelectorAll('.ratings .rating-label');

    ratingLabels.forEach(label => {
      label.addEventListener('click', function() {
        const clickedIndex = [...ratingLabels].indexOf(label);

        ratingLabels.forEach(label => {
          label.classList.remove('selected-rating-color');
        });

        for (let i = clickedIndex; i >= 0; i--) {
          ratingLabels[i].classList.add('selected-rating-color');
        }
      });
    });
  });
</script>
{% endblock %}
