{% extends "base.html" %}
{% load static %}

{% block title %}About{% endblock title %}

{% block content %}
<main>
  <div class="container-fluid my-5 text-center">
    <h1>Welcome to SuperPizza - Our Pizza Shop in Tralee</h1>
    <p class="salsa">Open Hours: 10:00 AM - 10:00 PM</p>
  </div>

  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Our Services</h2>
            <ul class="service-list">
              <li>Pizza delivery within an hour</li>
              <li>A wide range of top-notch pizza options</li>
              <li>Free delivery for orders above 50 euro</li>
              <li>Order tracking available on our website</li>
              <li>Register on our website to access order history</li>
              <li>Exclusive discounts for registered regular customers</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Our Story</h2>
            <p>SuperPizza's journey began with a love for authentic Italian cuisine. Inspired by the rich flavors and culinary traditions of Italy, we embarked on a mission to create pizzas that delight taste buds and create lasting memories.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Our Commitment to Quality</h2>
            <p>Quality is at the core of what we do. From handpicking the freshest ingredients to the meticulous crafting of our dough, we ensure that every pizza that leaves our kitchen is of the highest standard.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Community Connection</h2>
            <p>Being part of the Tralee community is integral to SuperPizza. We actively support local farmers and businesses, sourcing our ingredients locally to contribute to the community's growth and sustainability.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Join Us for a Slice of Happiness</h2>
            <p>Whether you're a pizza aficionado or someone seeking the perfect pizza experience, SuperPizza welcomes you. Come join us and explore our menu featuring classic favorites and innovative creations that cater to every palate.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Discover Our Special Recipe</h2>
            <p>At SuperPizza, we've mastered the art of blending flavors to create a truly delightful pizza experience. Our secret recipe dough combined with handpicked fresh ingredients and carefully crafted sauces ensures that each bite is a burst of flavors. Join us in this culinary journey and savor pizzas that are beyond ordinary.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p class="text-center mt-5 salsa p-2">Thank you for choosing SuperPizza, where each pizza is made with care and served with a smile. We can't wait to share our passion for pizza with you!</p>
</main>
{% endblock content %}